label {
    color: grey;
}

input[type="radio"] {
    display: none;
}

.clasificacion {
    direction: rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
}

label:hover {
    color: orange;
}

label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

.scrolleable {
    height: 200px;
    overflow-y: auto;
}

@media only screen and (min-width: 300px) {
    .btnCarrito {
        font-size: 0.7rem !important;
    }

    .btnCarritoFavorito {
        max-width: 3rem;
        max-height: 3rem;
    }
}