label {
    color: grey;
}

input[type="radio"] {
    display: none;
}

.clasificacion {
    direction: rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
}

label:hover {
    color: orange;
}

label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}