label {
    color: grey;
}

input[type="radio"] {
    display: none;
}

.clasificacion {
    direction: rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
}

label:hover {
    color: orange;
}

label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

.scrolleable {
    height: 200px;
    overflow-y: auto;
}

/* @media only screen and (min-width: 300px) {
    .btnCarrito {
        font-size: 0.7rem !important;
    }

    .btnCarritoP {
        font-size: 0rem !important;
    }

    .btnCarritoFavorito {
        max-width: 2rem;
        max-height: 2rem;
    }
} */

@media only screen and (max-width: 400px) {
    .divButtons {
        display: flex;
        justify-content: space-between;
    }
}

/* @media only screen and (min-width: 600px) {
    .divButtons {
        font-size: large;
    }

    .btnCarrito,
    .btnFavorite {
        display: grid;
        width: 200px;
    }
} */