@media only screen and (min-width: 600px) {
    div {
        font-size: 0.91rem !important;
    }
}

@media only screen and (min-width: 300px) {
    div {
        font-size: 0.7rem !important;
    }

    .swal2-icon-content {
        font-size: 3rem !important;
    }

    .favoritesList,
    .cartList {
        max-width: 0.2rem !important;
        max-height: 2em;
        text-align: center !important;
        display: flex !important;
        justify-content: center !important;
    }
}

@media only screen and (min-width: 992px) {
    div {
        font-size: 1.2rem !important;
    }
}

@media only screen and (min-width: 1200px) {
    div {
        font-size: 1.3rem !important;
    }
}

/* @media only screen and (min-width: 300px) {
    div {
        font-size: 0.8rem !important;
    }
} */