/* .ripple {
    position: absolute;
    width: 2px;
    height: 2px;
    animation-name: ripple;
    animation-duration: 1s;
    opacity: 0;
    border-radius: 50%;
}

@keyframes ripple {
    0% {
        opacity: 0.4;
        transform: scale(0);
        background: #000;
    }

    100% {
        opacity: 0;
        transform: scale(100);
        background: #000;
    }
} */