/* div {
    font-size: 1.2rem;
}

button {
    width: 2em !important;
    height: 2em !important;
}

span {
    width: 50px !important;
    height: 50px !important;
} */

/* @media only screen and (min-width: 992px) {
    #navbar {
        position: relative !important;
    }
} */