label {
    color: grey;
}

input[type="radio"] {
    display: none;
}

.clasificacion {
    direction: rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
    width: auto !important;
}

label:hover {
    color: orange;
}

label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

textarea {
    margin: auto;
}

form {
    margin-top: 3%;
    margin-bottom: 3%;
}

#buttonSubmit,
#divTextarea {
    display: flex;
    justify-content: center;
}

/* #comments {
    width: 80% !important;
} */